/coop/
*.vdf
*.ekv
*.scr
*.txt
*.rc
*.swp

ai.cfg
autoexec.cfg
config.360.cfg
config_default.cfg
controller.360.cfg
controller.cfg
controller_accelerated_hp.cfg
default.cfg
entity.cfg
game.cfg
game360.cfg
gamemode_armsrace.cfg
gamemode_casual.cfg
gamemode_competitive.cfg
gamemode_cooperative.cfg
gamemode_coopmission.cfg
gamemode_custom.cfg
gamemode_deathmatch.cfg
gamemode_demolition.cfg
gamemode_training.cfg
gameps3.cfg
gamestate_integration_steelseries.cfg
give_all_items.cfg
lab.cfg
listenserver.cfg
map_edit.cfg
modsettings.cfg
nav_bindings.cfg
navedit.cfg
start.cfg
steering_wheel.cfg
test.cfg
thirdperson.cfg
thirdperson_joy360.cfg
thirdperson_keypad.cfg
thirdperson_mayamode.cfg
undo360controller.cfg
